<%- include('partials/header-admin') %>
<h2 class="fs-5"> <i class="fa-solid fa-users"></i> All Users</h2>

<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/profile"><%= user.name %></a>
        </li>
    </ul>
</div>

<hr class="my-4 border-black">

<div id="content">
    <div class="table-data">
    <div class="order">
        <div class="head">
            <h3> <i class="fa-solid fa-users"></i> Total Users: <span class="text-success"><%= countUsers %></span></h3>
            <i class='bx bx-search'></i>
            <i class='bx bx-filter'></i>
        </div>
        <hr>
        <table>
            <thead>
                <tr>
                    <th>Profile</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Contract?</th>

                </tr>
            </thead>
            <tbody>
                <% allUsers.forEach(user => { %>
                    <tr>
                        <td>
                            <% if (user.profileImage) { %>
                                <img src="/uploads/<%= user.profileImage %>" alt="user-img" width="32" height="32" class="rounded-circle">
                              <% } else { %>
                                <!-- Alternative content goes here -->
                                <img src="/images/user.png" alt="Profile Image" width="32" height="32" class="rounded-circle">
                              <% } %>
                        </td>
                        <td class="text-black">@<%= user.name %></td>
                        <td><%= user.username %></td>
                        <!-- Add other relevant data -->
                        <td>
                            <% if (user.contract === 'false') { %>
                                <span style="color: red;">No</span>
                            <% } else { %>
                                <span style="color: green;">Yes</span>
                            <% } %>
                        </td>
                        <td><a href="/edit-user/<%= user.id %>" class="btn btn-primary">Edit</a></td>

                    </tr>
                <% }); %>
            </tbody>
            
        </table>
    </div>
    
</div>
</div>



